.content{
    margin-top: 5%;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5%;
    position: relative;

  }
  .left{
  padding: 60px;
  position: relative;
}
.right{
  padding-top: 100px;
  position: relative;
}
.profilepic img{
    width: 400px;
    height: 400px;
    padding: 30px 30px;
}
.profilepic{
    background-color: rgb(4, 4, 43);
    width: 350px;
    height: 350px;
}
.right{
  text-align: center;
  padding-right: 20px;
  margin-left: 40px;
  font-size: 2em;
  color: white;
  font-size: large;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}
.content .right span{
    color: rgb(0, 32, 216);
}
.homelinkitem{
    background-image: url("../../assets/button.png");
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    padding-inline: 20px;
    cursor: pointer;
    color: white;
}
.homelink{
    padding-top: 20px;
    width: 140px;
    position: relative;
    left: 60%;
}

/* Media query for smaller screens (e.g., screens with a max width of 768px) */
@media (max-width: 870px) {
  .homelink{
    left: 50%;
  }
}
@media (max-width: 770px) {
    .content {
      margin-top: 20px;
      height: auto;
      display: flex;
      flex-direction: column;
    }
  
    .profilepic img {
      width: 260px;
      height: 260px;
      padding: 20px 0 0 20px;
    }
  
    .profilepic {
      width: 250px;
      height: 250px;
      margin-left: 0;
    }
  
    .right {
      margin-top: 20px;
      font-size: medium;
      padding: px;
      padding-top: 0;
    }
    .homelink{
      left: 50%;
    }
  }