.contacttag{
    background-color: rgb(3, 3, 73);
    width: 87%;
    height: 10rem;
    margin-inline: auto;
    display: flex;
    border-radius: 10px;
}
.tag1{
    width: 60%;
    padding-top: 10%;
    padding-inline-start: 2%;
}
.tag1 h1{
    margin-bottom: 3px;
}
.tag2{
    width: 40%;
    padding-top: 5rem;
}
button{
    background-color: transparent;
    width: 12rem;
    margin-top: 1.5rem;
    height: 3rem;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}
