.footer{
    background-color: rgb(3, 3, 73);
    margin-top: -5rem;
    width: 100vw;
    padding-inline: 10px;
}
.footerinfo{
    padding-top: 13rem;
    display: flex;
    gap: 15%;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 10px;
}