*{
    margin: 0;
    padding: 0;
}
/**primary tags**/
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    width: 100%;
}
/**navigation**/
nav{
    display: flex;
    justify-content: space-around;
    padding: 1%;
     background-color: rgb(161, 161, 161);
}
nav ul{
    display: flex;
}
nav li{
    font-size: large;
    padding-right: 40px;
    padding-top: 7px;
}
nav li a{
    color: white;
    position: relative;
    transition: 0.3s ease-in-out;
}
nav li a:hover{
    color: rgb(47, 1, 214);
}
nav li a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background: blue;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
nav p a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    cursor: default;
    padding-right: 15px;
}
/**banner**/
.banner{
    background-image: url("../images/bg.jpg");
    width: 100%;
    background-position: right 0 top 0;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.322);
    background-blend-mode: color;
}
.banner p{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    padding: 300px 0 0 100px;
}
.banner p span{
    background-color: rgba(15, 15, 204, 0.548);
    padding: 20px;
    color: white;
    font-size: 30px;
}
/** Main body**/
.content{
    background-color: rgba(192, 192, 192, 0.356);
    padding-top: 50px;
    height: 70vh;
    width: 100%;
    display: flex;
}
.profilepic img{
    width: 350px;
    height: 350px;
    padding: 30px 0 0 30px;
}
.profilepic{
    background-color: black;
    width: 350px;
    height: 350px;
    margin-left: 30px;
}
.content article{
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    font-size: large;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.content article span{
    color: rgb(0, 32, 216);
}
.content article a{
    background-image: url("../images/button.png");
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: black;
    font-weight: bold;
}
.content2 p{
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 50px;
}
.hero ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    justify-content: space-around; 
    display: flex;
}
.hero{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.hero ul li a{
    color: black;
    font-weight: bold;
    position: relative;
    transition: 0.5s;
    padding: 15px;
}
.hero ul li a:hover{
    color: blue;
}
.hero ul li a:hover::after{
    content: "";
    width: 30%;
    position: absolute;
    height: 5px;
    bottom: -4px;
    left: 0px;
    background-color: blue;
}
